*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin: 0;
    margin: 20px;
    width: 99%;
    height: 10%;
}

.container{
    justify-content: center;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-areas: "chic-wrap" 
                         "beef-wrap"
                         "sushi-wrap";
    gap: 10px;
    margin: auto;
}
#side
{
    float: right;
}
/* VISCIUKO SEC */
.chicken-wrap{
    background-color: darkgray;
    grid-area: chic-wrap;
}

.chicken{
    background-color: coral;
    border: black 1px solid;
    text-align: center;
    width: 100px;
    height: 25px;
}

/* BEEFO SEC */

.beef-wrap{
    background-color: darkgray;
    grid-area: beef-wrap;
}

.beef{
    background-color: crimson;
    border: black 1px solid;
    text-align: center;
    width: 100px;
    height: 25px;
}

/* SUSHY SEC */

.sushi-wrap{
    background-color: darkgray;
    grid-area: sushi-wrap;
}

.sushi{
    background-color: darkgoldenrod;
    border: black 1px solid;
    text-align: center;
    width: 100px;
    height: 25px;
}

section{
    margin-left:20px;
    padding-top: 30px;
    width: 80%;
}

@media only screen and (min-width: 768px)
{
    .container{
        justify-content: center;
        width: 90%;
        height: 80%;
        display: grid;
        grid-template-areas: "chic-wrap beef-wrap"
                             "sushi-wrap sushi-wrap";
        gap: 10px;
        margin: auto;
    }
}